[access]
	inheritFrom = All-Projects
[project]
	description = Test Project
[access "refs/*"]
	owner = group user/sailotech123
[access "refs/for/refs/*"]
	read = group user/sailotech123
	push = group user/sailotech123
	label-Code-Review = -2..+2 group user/sailotech123
	label-Verified = -1..+1 group user/sailotech123
	rebase = group user/sailotech123
	removeReviewer = group user/sailotech123
	submit = group user/sailotech123
[access "refs/heads/*"]
	read = group user/sailotech123
	create = group user/sailotech123
	push = +force group user/sailotech123
	pushMerge = group user/sailotech123
[access "refs/tags/*"]
	push = group user/sailotech123
	push = +force group user/sailotech123
